n8n/workflows/ck-life-os-voice-transcription-preflight.json
{
  "name": "CK Life OS - Voice Transcription Preflight",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "ck-life-os/voice-transcription-preflight",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "ck-voice-webhook",
      "name": "CK Voice Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; const provider = body.provider || 'local_whisper_or_pasted_transcript'; const approved = !!body.audio_source && !!body.privacy_level && (provider === 'local_whisper_or_pasted_transcript' || body.provider_approved === true) && !!body.approval_reference; return [{ json: { product: 'CK / Life OS', workflow_id: 'ck-life-os-voice-transcription-preflight', provider, approved, required: ['audio_source', 'privacy_level', 'provider_approved when non-local', 'approval_reference'], transcription_provider_called: false, external_send: false, transcript_created: false, rollback: 'Delete transcript draft and disable workflow; revoke provider credential if used later.' } }];"
      },
      "id": "ck-voice-approval-check",
      "name": "Check Audio Privacy Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "ck-voice-response",
      "name": "Return Voice Preflight",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [520, 0]
    }
  ],
  "connections": {
    "CK Voice Approval Webhook": {
      "main": [[{ "node": "Check Audio Privacy Approval", "type": "main", "index": 0 }]]
    },
    "Check Audio Privacy Approval": {
      "main": [[{ "node": "Return Voice Preflight", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "ck_life_os_boundary": "disabled import; no live transcription or audio egress by default"
  }
}
